<ion-view title="Inform to Cops" hide-back-button="true">
  
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">

            

       <img src="img/msgsend.jpg" height="100%" width="100%"> <br><br>

       

       <center><font size="5px"><p style="color:blue;">Sending to Cops...</p></font></center><br>
      
      <button class="button button-outline button-positive button-block" ui-sref="app.alert8">Check Status</button>

      
      
      
      <br>
      </div>
      
  </ion-content>
</ion-view>
