<ion-view title="Alert Mode" hide-back-button="true">
  
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">

            <br><br>

       <img src="img/alert.jpg" height="100%" width="100%"> <br><br>
      
      <button class="button button-outline button-positive button-block" ui-sref="app.alert2">Start Alert</button>

      <button class="button button-outline button-balanced button-block" ui-sref="app.dashboard">Stop Alert</button>
      
      
      
      </div></div>
      
  </ion-content>
</ion-view>
