<ion-view title="Inform to Cops" hide-back-button="true">
  
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">

            <br><br>

       <img src="img/verify.jpg" height="100%" width="100%"> <br><br><br>
      
      <button class="button button-outline button-positive button-block" ui-sref="app.alert7">Accept</button>

      <button class="button button-outline button-balanced button-block" ui-sref="app.alert1">Ignore</button>
      
      
      <br>
      </div></div>
      
  </ion-content>
</ion-view>
