<ion-view title="Live Stream" hide-back-button="true">
  
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">

            <br><br>

       <iframe src='//players.brightcove.net/4221396001/60716998-ff67-4298-8bd7-2162e15a858d_default/index.html?videoId=4389391908001' allowfullscreen frameborder=0></iframe>
       <br><br><br><br>
      
      <button class="button button-outline button-positive button-block" ui-sref="app.alert6">Inform to Cops</button>

      <button class="button button-outline button-balanced button-block" ui-sref="app.alert3">Back to Feature</button>
      
      
      
      </div></div>
      
  </ion-content>
</ion-view>
