<ion-view title="Start The Eagle" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">
            <br><br><br>


       <center><img src="img/img.jpg" class="w3-circle" height="50%" width="50%"> </center>
       <br><br>
   
      <button class="button button-outline button-positive button-block" ui-sref="app.watch1">Watchman Mode</button>
      
      <button class="button button-outline button-assertive button-block" ui-sref="app.alert1">
        Alert Mode
      </button>
      </div>
      
  </ion-content>
</ion-view>
