<ion-view title="Confirmation Page" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">
            <img src="img/success.jpg" height="100%" width="100%">
        <div class="card">
          <br>
          <font size="3px"><p>You have booked your tickets Successfully!!!</p>
          <p>You can view your tickets and modify that by My Tickets Menu.</p></font>
        </div>
      
      <button class="button button-outline button-balanced button-block" ui-sref="app.ticket">
        OK
      </button><br><br>
      </div>

  </ion-content>
</ion-view>
